.header{
    background-color: #891F24;
    width:100%; 
    height:100px;
    padding: 0 20px;
    display: flex;
    justify-content: space-betweence;
    align-items: center;
    box-sizing: border-box;
    opacity: 0.9;
  } 
  
  .title{
    color: #f9f9f9;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .wrap{
    margin: 0 auto;
    
  }


  /*navbar*/
.back{
margin-left:50vh;
}

nav a {
    color: inherit; /* 移除超連結顏色 */
    text-decoration: none;  /* 移除超連結底線 */
}

ul {
  list-style: none;   /* 移除項目符號 */
  padding:0;
}

ul.back li{
  z-index: 1;
  float:left;
}


  
.block{
  display: block;
  padding:10px;
  color:#FFF4E2;
  font-size:20px;
  margin-left: 50px;
}

.block:hover{
  color: #5F432C;
}

