.body{
    margin:0;
    height:600px;
    background-color: #891F24;
    background-image: 
      radial-gradient(closest-side,rgb(130, 77, 77),rgba(235,105,78,0)),
      radial-gradient(closest-side,rgb(99, 60, 5),rgba(243,11,164,0)),
      radial-gradient(closest-side,rgb(255, 235, 134),rgba(254,234,131,0)),
      radial-gradient(closest-side,rgb(172, 105, 4),rgba(170,142,245,0)),
      radial-gradient(closest-side,rgb(255, 115, 0),rgba(248,192,147,0));

    background-size:  
    130vmax 130vmax,
    80vmax 80vmax,
    90vmax 90vmax,
    110vmax 110vmax,
    90vmax 90vmax;
    background-position: 
    -80vmax -80vmax,
    60vmax -30vmax,
    10vmax 10vmax,
    -30vmax -10vmax,
    50vmax 50vmax;

    background-repeat: no-repeat;
    animation: 5s movement linear infinite;
}

/* .body::after{
    content: '';
    display:block;
    position: fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
} */

@keyframes movement{
   0%,100%{
    background-size:  
    130vmax 130vmax,
    80vmax 80vmax,
    90vmax 90vmax,
    110vmax 110vmax,
    90vmax 90vmax;
    background-position: 
    -80vmax -80vmax,
    60vmax -30vmax,
    10vmax 10vmax,
    -30vmax -10vmax,
    50vmax 50vmax;
   }
   25%{
    background-size:  
    100vmax 100vmax,
    90vmax 90vmax,
    100vmax 100vmax,
    90vmax 90vmax,
    60vmax 60vmax;
    background-position: 
    -60vmax -60vmax,
    50vmax -40vmax,
    0vmax -20vmax,
    -40vmax -20vmax,
    40vmax 60vmax;
   }
   50%{
    background-size:  
    80vmax 80vmax,
    110vmax 110vmax,
    80vmax 80vmax,
    60vmax 60vmax,
    80vmax 80vmax;
    background-position: 
    -50vmax -70vmax,
    40vmax -30vmax,
    10vmax -0vmax,
    20vmax 10vmax,
    30vmax 70vmax;
   }
   75%{
    background-size:  
    90vmax 90vmax,
    90vmax 90vmax,
    100vmax 100vmax,
    90vmax 90vmax,
    70vmax 70vmax;
    background-position: 
    -50vmax -40vmax,
    50vmax -30vmax,
    20vmax 0vmax,
    -10vmax 10vmax,
    40vmax 60vmax;
   }
   

}


.title{
    color:#fff4e2;
    font-family: Gentium;
    font-size: 100px;
    padding-top:100px; 
}

.content{
    text-align:center;
}

.word{
    color:#fff4e2;
    font-family: Gentium;
    margin-left: 390px;
    text-align:center;
}


 /*name*/ 

.container{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    height:700px;
} 

.name{
    width:100%;
    height:100%;
    background-image: url( ' images/bg1.JPG ' );
}



.nametitle{
    font-size: 40px;
    font-family: Gentium;
    opacity: 0.8;
    color:#891F24;
    text-align:center;
    padding-top: 250px; 
}

.jiu{
    font-size: 24px;
    font-family: Gentium;
    color:#891F24;
  
}


.namecon{
    color: #fff4e2;
    
}

/*origin*/
.origin{
    background-image: url( ' images/bg2.JPG ' );
   
}
.origintitle{
    font-size: 40px;
    font-family: Gentium;
    opacity: 0.8;
    color:#891F24;
    text-align:center;
    padding-top: 250px;
}

.year{
    font-size: 24px;
    font-family: Gentium;
    color:#891F24;
}

.origincon{
    color: #fff4e2;
}

/*concept*/
.concept{
    background-image: url( ' images/bg3.jpg ' );
}

.concepttitle{
    font-size: 40px;
    font-family: Gentium;
    opacity: 0.8;
    color:#891F24;
    text-align:center;
    padding-top: 250px;
   
}

.conceptcon{
    color: #fff4e2;
}


